################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/mrquote.api.metadata.v9.bin
/MrQuote.API/obj/
/MrQuote.Domain/obj/
/MrQuote.Services/obj/
/MrQuote.Utility/obj/
/MrQuote.API/bin/
/MrQuote.Domain/bin/
/MrQuote.Services/bin/
/MrQuote.Utility/bin/
/.vs/MrQuoteAPI/FileContentIndex/
/.vs/MrQuote.API/v17/DocumentLayout.backup.json
/.vs/MrQuote.API/config/applicationhost.config
/.vs/MrQuote.API/DesignTimeBuild/.dtbcache.v2
/.vs/MrQuote.API/FileContentIndex/2efa6eed-ecd9-4aef-88a0-244e2db5bea9.vsidx
/.vs/MrQuote.API/v17/.futdcache.v2
/.vs/MrQuote.API/v17/.suo
/.vs/MrQuote.API/v17/DocumentLayout.json
/.vs/ProjectEvaluation/mrquote.api.projects.v9.bin
/.vs/ProjectEvaluation/mrquote.api.strings.v9.bin
/MrQuote.API/bin/Debug/net6.0/MrQuote.API.dll
/MrQuote.API/bin/Debug/net6.0/MrQuote.API.exe
/MrQuote.API/bin/Debug/net6.0/MrQuote.API.pdb
/MrQuote.API/bin/Debug/net6.0/MrQuote.Domain.dll
/MrQuote.API/bin/Debug/net6.0/MrQuote.Domain.pdb
/MrQuote.API/bin/Debug/net6.0/MrQuote.Services.dll
/MrQuote.API/bin/Debug/net6.0/MrQuote.Services.pdb
/MrQuote.API/bin/Debug/net6.0/MrQuote.Utility.dll
/MrQuote.API/bin/Debug/net6.0/MrQuote.Utility.pdb
/MrQuote.Domain/bin/Debug/net6.0/MrQuote.Domain.dll
/MrQuote.API/Properties/launchSettings.json
/.vs/MrQuote.API/FileContentIndex/43abf8b6-b4d8-4c24-987d-cbf6db58b114.vsidx
/.vs/MrQuote.API/FileContentIndex/71ebf6ae-7fa6-4ae5-b716-8a1a56fb3a37.vsidx
/.vs/MrQuote.API/FileContentIndex/c3ab3543-1884-4d31-9795-cf6cc048d241.vsidx
/.vs/MrQuote.API/FileContentIndex/eb54191f-0cf9-4338-b712-f791609aa7ed.vsidx
/.vs/MrQuote.API/FileContentIndex/b8c85293-2492-4ea8-a43a-e16d219d9d25.vsidx
/.vs/MrQuote.API/FileContentIndex/262a676d-1ba6-47dd-b068-c84cf20b7d4a.vsidx
/.vs/MrQuote.API/FileContentIndex/adc6154e-5848-4dbc-95da-95a5e707db9f.vsidx
